#header-container {
    display: flex;
    flex-direction: row;
}

#header-logo-link {
    border-right: solid 2px #000;
}

#header-title {
    height: 40px;
    padding: 8px;
    margin: 0;
}

#header-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-navBar {
    display: flex;
    flex-direction: row;
}

#header-navIcon {
    margin: auto 10px;
    padding: 0;
}

#header-navIcon a {
    text-decoration: none;
    color: black;
 }

#header-settings {
    align-content: flex-end;
    margin: auto 10px;
}
