.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    gap: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#login-Title {
    text-align: center;
    width: 100%;
}

#Risposta{
     text-align: left;
     color: red;
 }

.input-field {
    justify-content: right;
    display: flex;
    align-items: center;
    gap: 5px;
}

.login-input {
    padding: 5px;
    width: 350px;
}

.login-button-container {
    display: grid;
    justify-content: right;
}

button {
    padding: 10px;
    width: 100px;
}